Django>=6.0,<6.1
daphne>=4.1
dj-database-url>=2.2
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-filter>=23.5
django-cors-headers>=4.0
django-supabase-storage>=1.0.1
supabase>=2.10
whitenoise>=6.7
channels>=4.0
channels-redis>=4.2
redis>=5.0
Pillow>=10.0
psycopg2-binary>=2.9
python-dotenv>=1.0
requests>=2.32
